  <div class="jumbotron">
  <div class="container">
<section class="section_1">
   <a href="index.html"><span class="glyphicon glyphicon-home"></span></a>				
 <div class="about_me">
  <h1>Hello,</h1>
	  <p>My name is Rita Woki, and I'm an aspiring developer, designer and creator.</p>			
	<p>Currently I'm attending a programming bootcamp in Moringa taking Ruby/Rails track while also learning Javascript, Jquery, Angular, Emberjs, CSS, and Sass. The most valuable skill I developed here is my ability to problem solve-- to adapt, learn and excel when in unknown territory.</p>
	<p>Being the zealous and communicative young-sponge that I am, a workplace that mirrors or accents those qualities is exceedingly important to me.</p>
	<p>I feel I will be a strong asset to the right team and am looking forward to being apart of the collaboration and development of an evolutionary indusrty.</p>
 </div>
 </div>
</section>
</div>