 REFEREES
<div class="row">
  <div class="col-xs-6 col-md-3">
   <P>1.CAROL WANJIRU </P>  
	<P>HOSPITAL HILL SCHOOL<P>
	  <P>0721574506</P>
  </div>

</div>
<br><br>
<div class="row">
  <div class="col-xs-6 col-md-3">
   <p>2.KAREN BRADLEY</p>
	<p>BUSINESS LADY</p>
	<p>0720298999</p>
    
  </div>

</div>


<!-- <div class="container">
  <div class="row">
   REFEREES

    <div class="col-4">
       CAROL WANJIRU

	   HOSPITAL HILL SCHOOL

	    0721574506.
    </div>
    
    <div class="col-4">
      	KAREN WANJIKU

	BUSINESS LADY

	0720298999	
    </div>
    
    <div class="col-4">
      One of three columns
    </div>
    
  </div>
</div> -->
  