     <p>Here are my projects</p>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <%= image_tag 'so.jpg' %>
      <div class="caption">
        <h3>Msoko</h3>
        skills used;Ember,nodejs,html
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Super Rentals</h3>
        Skills used;js
        <p><%= link_to 'Visit Site', 'https://github.com/RitaWoki/Super-Rentas.git' %></p>
        </div>
    </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <div class="caption">
        <h3>Loan Management System</h3>
        Skills used;Ruby
        <p><%= link_to 'See Demo', 'https://warm-coast-39381.herokuapp.com' %></p>
      </div>
    </div>
  </div>
  </div>