$('form').remove();
$('#new_projects_link').show();
$('ul p').remove();
$('#skill_projects').append('<li><%= @project.description %> | <%= link_to "Edit",	edit_skill_project_path(@skill, @project), :class => "btn btn-default" %> | <%= link_to "Delete", skill_project_path(@skill, @project),
                         :data => {:confirm => "Are you sure?",
                         :method => "delete"},
                         :class => "btn btn-danger" %></li>')