 

 <h1>Posts</h1>

  <ul class="Listdecorations">
    <% @posts.each do |post| %>
    <div class="container panel panelcentre">
    <div class="panel panel-default">
      <div class="panel-heading"><li><%= link_to post.title, post_path(post) %></li>
      </div>
    <% end %>
  </ul>

   <hr>

  <a class="btn btn-primay"><%= link_to "New post", new_post_path %></a>
  </div>
  